{% extends 'LsiBiblioBundle::layout.html.twig' %}

{% block title %}
	Collection: {{ collection.nom }}
{% endblock %}

{% block menu_suite %}
	<a href="" class="current">Collection</a>
{% endblock %} 

{% block column_w610 %}
	<div class="header_01">{{ collection.nom }}</div>
	
	{% include 'LsiBiblioBundle::list.html.twig' with {'livres': collection.activelivres} %}

	{% if last_page > 1 %}
	<div class="pagination">
	<a href="{{ path('lien_collection_show', { 'id': collection.id,'slug': collection.getSlug, 'page': 1 }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/first.png') }}" alt="First page" title="First page" />
	</a>
	<a href="{{ path('lien_collection_show', { 'id': collection.id,'slug': collection.getSlug, 'page': previous_page }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/previous.png') }}" alt="Previous page" title="Previous page" />
	</a>
	{% for page in 1..last_page %}
	{% if page == current_page %}
	{{ page }}
	{% else %}
	<a href="{{ path('lien_collection_show', { 'id': collection.id,'slug': collection.getSlug, 'page': page }) }}">{{ page }}</a>
	{% endif %}
	{% endfor %}
	<a href="{{ path('lien_collection_show', { 'id': collection.id,'slug': collection.getSlug, 'page': next_page }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/next.png') }}" alt="Next page" title="Next page" />
	</a>
	<a href="{{ path('lien_collection_show', { 'id': collection.id,'slug': collection.getSlug, 'page': last_page }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/last.png') }}" alt="Last page" title="Last page" />
	</a>
	</div>
	{% endif %}
	<div class="pagination_desc">
	<strong>{{ total_livres }}</strong> livres dans cette collection
	{% if last_page > 1 %}
	- page <strong>{{ current_page }}/{{ last_page }}</strong>
	{% endif %}
	</div>
{% endblock %}