{% extends 'LsiBiblioBundle::layout.html.twig' %}

{% block title %}
	Edition du livre
{% endblock %}


{% block menu_suite %}
	<a href="" class="current">Utilisateurs</a>
{% endblock %}  

{% block column_w610 -%} 
	<div class="header_01">Liste des utilisateurs</div>  

		<div class="col_titre">
            <a href="{{ path('lien_livre_new') }}">Ajouter un livre</a>
		</div> 
    <table class="tab_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Couverture</th> 
                <th>Titre</th>
                <th>Auteur</th>  
                <th>Vue</th>
                <th>Enligne</th>
                <th>Ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in list_livres %}
			<tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>{{ entity.id }}</td>
		<td class="col_couverture"> 
			<img src="{{ asset('bundles/lsibiblio/images/thumbnails/' ~ entity.couverture) }}" title="{{ entity.titre }}"/>
		</td>
                <td class="col_couverture">{{ entity.titre }}</td>
                <td>{{ entity.auteur }}</td>  
                <td>{{ entity.nombreDeVue }}</td>
                <td>{{ entity.enLigne }}</td>
                <td>{% if entity.dateAjout %}{{ entity.dateAjout|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul class="col_titre">
                    <li>
                        <a href="{{ path('lien_livre_show', { 'id': entity.id, 'collection': entity.getCollectionSlug, 'auteur': entity.getAuteurSlug, 'titre': entity.getTitreSlug }) }}">voir</a>
                    </li>
                    <li>
                        <a href="{{ path('lien_livre_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	{% if last_page > 1 %}
	<div class="pagination">
	<a href="{{ path('lien_livre_all', { 'page': 1 }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/first.png') }}" alt="First page" title="First page" />
	</a>
	<a href="{{ path('lien_livre_all', { 'page': previous_page }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/previous.png') }}" alt="Previous page" title="Previous page" />
	</a>
	{% for page in 1..last_page %}
	{% if page == current_page %}
	{{ page }}
	{% else %}
	<a href="{{ path('lien_livre_all', { 'page': page }) }}">{{ page }}</a>
	{% endif %}
	{% endfor %}
	<a href="{{ path('lien_livre_all', { 'page': next_page }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/next.png') }}" alt="Next page" title="Next page" />
	</a>
	<a href="{{ path('lien_livre_all', { 'page': last_page }) }}">
	<img src="{{ asset('bundles/lsibiblio/images/last.png') }}" alt="Last page" title="Last page" />
	</a>
	</div>
	{% endif %}
	<div class="pagination_desc">
	<strong>{{ total_livres }}</strong> livres dans le catalogue
	{% if last_page > 1 %}
	- page <strong>{{ current_page }}/{{ last_page }}</strong>
	{% endif %}
	</div> 
 {% endblock %}
